/***** RESET *****/

html, body {
	width:100%;
	margin:0px;
	padding:0px;
	font-size:16px;
	font-weight:normal;
	font-family:"Times New Roman", "Times", serif;
	line-height:1em;
	-webkit-text-size-adjust:none;
	-moz-text-size-adjust:none;
	text-align:center;
	cursor:default;	
}

a {
	text-decoration:none;
	color:#000000;
}

img {
	border:none;
}

table {
	border-collapse:collapse;
}

p {
	margin:0px;
	padding:0px;
}

/***** FONTS *****/

h1,h2,h3,h4,h5,h6 {
	font-weight:normal;
}

h1 {
	font-size:6em;
	line-height:1em;
	margin:0px;
	text-align:center;
	font-family: "Nevis";
}

h2 {
	font-size:2.5em;
	line-height:1em;
	margin:0px;
}

h2 a {
	font-family: "Nevis";
}

h3 {
	font-size: 2em;
	line-height: 1em;
	margin: 0;
	font-family: "Nevis";
}

h4 {
	font-size:2em;
	line-height:1em;
	margin:0px;
	font-family:"rosewood-std";
}

h5 {
	font-size:1em;
	line-height:1em;
	margin:0px;
	font-family:"rosewood-std-fill";
}

#weather_wrapper, a {
	font-family:"rosewood-std-fill", "Times New Roman", serif;
}

/***** CITIES *****/

body {
	background-image: url('../img/bg_house.png'), url('../img/bg_shabby.png');
	background-position: center bottom, left top;
	background-repeat: no-repeat, repeat;
	background-size: 100%, 22px 22px;
}

#head_wrapper {
	width: 100%;
	background: url('../img/bg_header.png') left bottom repeat-x;
}

#header {
	position: relative;
	width:756px;
	margin: 0 auto;
	padding: 15px 0 40px;
}

nav {
	margin:0px auto;
	padding:0px 10px;
	font-size: 1.3em;
}

nav ul {
	margin:20px 0px;
	width:100%;
	padding:0px;
}

nav li {
	display: inline-block;
	margin: 0 10px;
	padding:5px 13px;
	-webkit-border-radius:8px;
	-moz-border-radius:8px;
	border-radius:8px;
	text-shadow:1px 1px 0px #fff;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

nav li:hover {
	background: #093A64;
	color:#fff;
	text-shadow: -1px -1px 0px rgba(0,0,0,0.5);
}

#itinerary_wrapper {
	width: 400px;
	padding: 5px 10px 10px;
	float: left;
	border: 0 none;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	background: url('../img/frames/todo.png') center top no-repeat;
}

#itinerary_wrapper h3 {
	margin-bottom: 5px;
}

#weather_wrapper {
	margin: -10px 0 10px;
	text-align:right;
}

#content_wrapper {
	width:100%;
}

#content {
	width:720px;
	margin:0px auto;
	padding:20px 0px;
	position:relative;
	text-align:left;
}

#city_disclaimer {
	position: relative;
	top: 100px;
	text-align: center;
	font-family: "Nevis";
	font-size: 3em;
	line-height: 1em;
}

.destination {
	position:relative;
	clear:both;
	margin:0px;
	padding-top:20px;
}

.destination:first-child {
	padding-top:10px;
}

.fl_c {
	clear: both;
}

.venue-name {
	margin-left:20px;
}

.venue {
	width:312px;
	display:inline-block;
	margin-left:20px;
	padding:0px;
}

.venue img {
	display:block;
	margin:10px 0px;
}

.venue a {
	font-family:"rosewood-std-fill", "Times New Roman", serif;
	display:block;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.venue a:hover {
	-webkit-transform:scale(1.3) translateX(20px);
	-moz-transform:scale(1.3) translateX(20px);
	-o-transform:scale(1.3) translateX(20px);
	transform:scale(1.3) translateX(20px);
}

.fondaicon {
	width:100px;
	height: 150px;
	margin-right:10px;
	float:left;
}

.megicon {
	width:100px;
	height: 150px;
	margin-right:10px;
	float:left;
}

.reviews {
	background:url('../img/bg/wood.jpg') center no-repeat;
	float:right;
	margin:8px 20px 0 0;
	width:340px;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
}

.reviews article {
	padding:10px 10px 10px;
	position:relative;
	min-height:150px;
}

.reviews article h4 {
	position:absolute;
	top:10px;
	left:115px;
	color: #000;
	text-shadow: -1px -1px 3px rgb(255,255,255);
}

.reviews article span {
	display:block;
	padding-top:32px;
	white-space:normal;
}

.reviews article p {
	color: #fff;
	text-shadow: -1px -1px 0 rgba(0,0,0,0.8);
}

.clr-btm {
	clear: both;
}

#foot_wrapper {
	height:464px;
	width:100%;
}

#footer {
	width:720px;
	margin:0px auto;
	padding:0px;
	text-align:center;
}

#map_container {
	width:666px;
	height:406px;
	padding:8px 0px 0px;
	margin:0px auto;
	-webkit-box-shadow:inset 0px 0px 5px 5px #000;
	-moz-box-shadow:inset 0px 0px 5px 5px #000;
	box-shadow:inset 0px 0px 5px 5px #000;
}

#map_canvas {
	width: 650px;
	height: 400px;
	margin: 0 auto;
}

.loc_title {
	height: 90px;
	line-height: 1.4em;
}

/***** MEDIA QUERIES *****/

@media screen and (max-width:780px){
	
	#header, #content, #footer {
		width:100%;
	}

	h1 {
		font-size:4em;
	}

	#itinerary_wrapper {
		float: none;
		margin: 0 auto 20px;
		text-align: center;
	}

	#weather_wrapper {
		position:static;
		text-align:center;
	}

	.destination {
		margin:0 0 20px;
		padding-top:0px;
	}

	.destination:first-child {
		padding-top:0px;
	}

	.venue {
		display:block;
		text-align:center;
		margin:0px auto;
	}

	.venue-name {
		width:312px;
		margin:0 auto;
		text-align:center;
	}

	.venue img {
		margin:10px auto;
	}

	.venue a {
		font-size:1.2em;
		line-height:1em;
		max-width:312px;
	}

	.venue a:hover {
		-webkit-transform:scale(1) translateX(0px);
		-moz-transform:scale(1) translateX(0px);
		-o-transform:scale(1) translateX(0px);
		transform:scale(1) translateX(0px);
	}

	.reviews {
		float:none;
		position:static;
		margin:15px auto;
	}
	
	#map_container {
		width:434px;
		padding:8px 0px 0px;
		margin:0px auto;
	}

	#map_canvas {
		width:420px;
	}
}

@media screen and (max-width:420px){

	h1 {
		font-size:3em;
	}

	h2 {
		font-size:2em;
	}

	h3 {
		font-size: 1.6em;
	}

	#itinerary_wrapper {
		width: 90%;
	}

	.reviews article h4 {
		font-size:1.7em;
		left:95px;
	}

	nav {
		font-size: 1.1em;
	}

	nav li {
		width: 100px;
		margin: 0;
	}

	#city_disclaimer {
		font-size: 2em;
		top: 150px;
	}

	.venue a {
		font-size: 0.9em;
	}

	.venue a:hover {
		-moz-transform: none;
		-webkit-transform: none;
		-o-transform: none;
		transform: none;
	}

	.reviews {
		width:300px;
		border-radius:10px;
	}

	.reviews article {
		min-height: 120px;
	}

	.megicon {
		width:80px;
		height: 120px;
	}

	.fondaicon {
		width:80px;
		height: 120px;
	}
	
	#map_container {
		width:314px;
		margin:0px auto;
	}

	#map_canvas {
		width:300px;
	}
}
