/***** RESET *****/

html,body {
	width:100%;
	margin:0px;
	padding:0px;
	font-size:16px;
	font-weight:normal;
	font-family:"Times New Roman", "Times", serif;
	line-height:1em;
	text-align:left;
	text-shadow:1px 1px rgba(255,255,255,0.5);
	cursor:default;	
}

a {
	text-decoration:none;
	color:#000000;
	padding:0px;
	margin:0px;
}

img {
	border:none;
}

table {
	border-collapse:collapse;
}

p {
	margin:0px;
	padding:0px;
}

/***** TEXT SIZE *****/

h1 {
	font-family: 'HVDBodedoMedium';
	font-size:2.8em;
	line-height:1em;
	margin:0px;
	padding:7px 10px 0px;
}

h2 {
	font-family:'HVDBodedoMedium';
	font-size:2em;
	line-height:1em;
	margin:0px;
	padding:16px 10px 0px;
}

h3 {
	font-family:'CACChampagneRegular';
	font-size:2.5em;
	font-weight:normal;
	line-height:1em;
	margin:0px;
}

a {
	font-family:'HVDBodedoMedium';
}

a.homelink {
	font-size:2em;
	line-height:1em;
	display:block;
	text-align:center;
	padding:0px 0px 15px;
}

.list_link {
	font-family:'HVDBodedoMedium';
	font-size:1.6em;
	line-height:1em;
}

span.tags {
	font-family:'1942report';
	font-size:1.5em;
	line-height:1em;
}

/***** DESTINATIONS *****/

body {
	background:url('../img/bg/bluedamask.jpg') top center repeat fixed;
}

#content_wrapper {
	background:url('../img/frames/lined_paper.jpg') top center no-repeat;
	min-height:575px;
	width:756px;
	margin:20px auto 15px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
}

.adder {
	text-align:center;
	min-height:200px !important;
}

#create_form {
	font-family:'1942report';
	font-size:1.8em;
	line-height:1em;
	padding:0px 15px;
}

p {
	padding:5px 0px 30px;
}

#select {
	margin:0px auto;
	display: inline-block;
}

select {
	font-family:'1942report';
	font-size:.75em;
	background:rgba(255,255,255,0.3);
	padding:0px;
	margin:-5px 0px 0px;
	vertical-align:top;
}

#check_group {
	margin:-3px auto 0px;
	width:650px;
}

label {
	display:inline-block;
	padding:0px 0px 32px;
}

label[for="state"]{
	margin-left: 25px;
}

#state {
	width: 60px;
	padding: 1px 5px;
	font-family:'1942report';
	font-size: .8em;
	text-align: center;
}

input[type="text"], input[type="password"] {
	margin:-5px 10px 0px;
	width:300px;
	padding:5px;
	background:rgba(255,255,255,0.3);
	vertical-align:top;
}

#tag_bin {
	width: 50%;
	padding: 0;
	margin: -5px 0 0;
	display: inline-block;
}

.tag-btn {
	padding: 0 2px;
	margin: 0 8px 5px;
	background-color: #fff;
	border: 2px solid #000;
	display: inline-block;
	font-family: 'Nevis';
}

.delete-tag {
	padding-right: 5px;
	cursor: pointer;
	font-size: 0.5em;
	line-height: 1em;
	vertical-align: middle;
}

input[type="checkbox"] {
	margin:7px;
}

input[type="submit"] {
	margin:25px auto 26px;
	font-family:'1942report';
	font-size:.8em;
	display:block;
	cursor:pointer;
}

.backlink {
	margin:15px 0px;
	line-height:2em;
}

/***** VIEW *****/

#destination_list {
	background:url('../img/frames/lined_paper.jpg') top center repeat-y;
	min-height:1110px;
	width:756px;
	margin:20px auto 15px;
	border-radius:4px;
}

#inner_list {
	padding:25px 15px 15px;
}

#delete_form, #add_form {
	text-align: center;
}

p.list_item {
	padding: 0px 0px 13px;
	text-align: left;
}

/***** REVIEWS *****/

#review_wrapper {
	background:url('../img/frames/ticket2.png') top center no-repeat;
	min-height:400px;
	width:670px;
	margin:10px auto 0px;
	padding:0px 20px;
	-webkit-border-radius: 0px 0px 5px 5px;
	-moz-border-radius: 0px 0px 5px 5px;
	border-radius: 0px 0px 5px 5px;
}

#inner_review {
	margin:0px auto;
	padding:10px 0px;
	text-align:center;
	position:relative;
}

#inner_review h1 {
	padding-top:20px;
	font-family: 'FontleroyBrownRegular';
	font-size:4.5em;
}

#form_wrapper {
	float:left;
	width:50%;
}

#form_wrapper label {
	padding:0px;
	font-family:'FontleroyBrownRegular';
	font-size:2.5em;
}

#locale {
	margin:0px;
	padding:20px 0px;
	border-top:3px dotted #564D35;
	position:relative;
}

#locale label {
	position:absolute;
	bottom:5px;
	left:5px;
}

#locale select {
	font-family:'1942report';
	font-size:1.2em;
	width:88%;
	margin:0px 0px 10px 30px;
}

#locale option, optgroup {
	font-family:'1942report';
	font-size:0.9em;
}

#rating {
	position:relative;
	margin:0px;
	padding:20px 0px;
	border-top:3px dotted #564D35;
	border-bottom:3px dotted #564D35;
	line-height:1em;
}

#rating label {
	position:absolute;
	bottom:5px;
	left:5px;
}

#scores {
	font-family:'CACChampagneRegular';
	font-size:2.5em;
	margin:0px 0px 0px 50px;
	letter-spacing:2px;
}

#signature {
	border-bottom:3px dotted #564D35;
	position:relative;
	padding:10px 0px;
}

#signature label {
	position:absolute;
	bottom:5px;
	left:5px;
}

#signature span {
	font-family:'CACChampagneRegular';
	font-size:4em;
	line-height:1em;
	margin:0px 0px 0px 50px;
}

#text_wrapper {
	padding:10px;
	margin-left:50%;
	margin-bottom:10px;
	width:46%;
	border-top:3px dotted #564D35;
	border-bottom:3px dotted #564D35;
	border-left:3px dotted #564D35;
}

textarea {
	font-size:1.1em;
	width:95%;
	height:300px;
	margin:0px auto;
	padding:10px;
}

input#review_btn {
	font-family: 'CACChampagneRegular';
	font-size:2.8em;
	margin:15px auto 20px;
	padding:0px 15px 0px 8px;
	cursor:pointer;
	position:absolute;
	bottom:50px;
	left:45px;
	border-radius:30px;
}

#inner_review #backlink {
	font-size:1.5em;
}

/***** HANDLERS *****/

.subheader {
	font-family:'1942report';
	font-size:1.3em;
	font-weight:bold;
	line-height:1em;
	max-width:700px;
}

.info {
	font-family:'Nevis';
	font-size:1.2em;
	line-height:1.2em;
	max-width:600px;
	margin:0px auto;
}

.timestamp {
	font-family:'CACChampagneRegular';
	font-size:2.5em;
	line-height:1em;
}

input.delete_btn, input.add_btn {
	font-size:1.2em;
	line-height:1em;
	padding:3px 0px;
}

#delete_error, #add_error {
	font-family: "Nevis";
	font-size: 1.4em;
}

/***** MEDIA QUERIES *****/

@media screen and (max-width:780px){
	
	body {
		background:#000;
	}
	
	#content_wrapper {
		width:100%;
		margin-top:0px;
	}

	#review_wrapper {
		width:100%;
		padding:0px;
	}

	#inner_review {
		width:90%;
		margin:0px auto;
	}

	#text_wrapper {
		margin-left:0%;
		padding:10px 0px;
		width:100%;
		border-top:none;
		border-left:none;
	}

	#destination_list {
		width:100%;
		margin-top:0px;
	}
	
	#form_wrapper {
		width:100%;
	}

	input#review_btn {
		position:static;
	}
}

@media screen and (max-width:420px){

	h1 {
		font-size:2.5em;
	}

	#inner_review h1 {
		font-size:3.5em;
	}

	h2 {
		font-size:1.8em;
		padding:22px 0px 0px;
	}

	#create_form {
		font-size:1.5em;
		line-height:1.19em;
	}

	input[type='text'] {
		width:90%;
		margin:-4px auto 0px;
	}

	#select {
		padding:30px 0px 35px;
	}

	select {
		margin:0px;
		padding:2px 0px;
	}

	label {
		padding:0px;
	}

	label[for="state"] {
		margin-bottom: 8px;
	}

	#form_wrapper label {
		font-family:"Georgia";
		font-size:0.9em;
		bottom:0px;
		left:0px;
	}

	#locale select {
		margin:0px auto 10px;
	}

	#scores {
		font-size:2em;
		margin:0px auto;
	}

	#signature span {
		margin:0px auto;
	}

	#check_group {
		font-size:.5em;
		width:100%;
		margin:-3px 0px 0px;
	}

	.list_link {
		font-size:1.2em;
	}
	
	span.tags {
		font-size:1.1em;
	}

	input.delete_btn, input.add_btn {
		font-size:1em;
	}

	#delete_error, #add_error {
		font-size: 1.2em;
	}

	textarea {
		width:85%;
		margin:10px 0px;
	}

	input#review_btn {
		font-size:2.2em;
	}
}
