/***** RESET *****/

html,body {
	width:100%;
	margin:0px;
	padding:0px;
	font-size:16px;
	font-weight:normal;
	font-family:"Times New Roman", "Times", serif;
	line-height:1em;
	text-align:center;
	cursor:default;	
}

a {
	text-decoration:none;
	color:#000000;
	padding:0px;
	margin:0px;
}

img {
	border:none;
}

table {
	border-collapse:collapse;
}

p {
	margin:0px;
	padding:0px;
}

/***** TEXT SIZE *****/

h1 {
	font-size:2.5em;
	line-height:1.5em;
	font-weight:normal;
	margin:0px;
}

a {
	font-size:2em;
	line-height:1em;
}

/***** LOGIN *****/

body {
	background:#000000;
	font-family:'HominisNormal';
}

#postcard {
	background:url('../img/frames/postcard.jpg') top center no-repeat;
	min-height:400px;
	width:500px;
	margin:20px auto 0px;
	position:relative;
}

h1 {
	position:absolute;
	left:25px;
	top:150px;
	width:200px;
}

span#error {
	position:absolute;
	left:60px;
	top:280px;
	color:#B30E3D;
	font-family:'FontleroyBrownRegular';
	font-size:2.5em;
	line-height:1em;
}

form {
	position:absolute;
	right:35px;
	top:155px;
}

label {
	font-size:1.5em;
	line-height:1em;
}

input[type='text'], input[type='password'] {
	background:rgba(255,255,255,0.3);
	margin:10px 0px 18px;
	width:180px;
	text-align:center;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
}

input[type='submit'] {
	margin:5px 0px;
	padding:0px 15px;
	cursor: pointer;
	font-family:'FontleroyBrownRegular';
	font-size:2.5em;
	line-height:1em;
	border-radius:30px;
	box-shadow:0px 0px 3px 3px rgba(0,0,0,0.8);
}
	

/***** MEDIA QUERIES *****/

@media screen and (max-width:420px){

	#postcard {
		width:100%;
		margin-top:0px;
	}

	h1 {
		font-size:1.8em;
		left:-20px;
		top:172px;
	}

	span#error {
		left:15px;
	}

	form {
		right:2px;
		top:160px;
	}

	label {
		font-size:1.2em;
	}

	input[type='text'], input[type='password'] {
		width:130px;
		margin:10px 0px 23px;
	}
}
