/***** RESET *****/

html,body {
	width:100%;
	margin:0px;
	padding:0px;
	font-size:16px;
	font-weight:normal;
	font-family:"AmaticBold";
	line-height:1em;
	text-align:center;
	text-shadow:1px 1px rgba(255,255,255,0.4);
	cursor:default;	
}

a {
	text-decoration:none;
	color:#000000;
	padding:0px;
	margin:0px;
}

img {
	border:none;
}

table {
	border-collapse:collapse;
}

p {
	margin:0px;
	padding:0px;
}

/***** TEXT SIZE *****/

h1 {
	font-size:4em;
	line-height:1em;
	margin:0px;
}

a {
	font-size:2em;
	line-height:1em;
}

/***** MAPS *****/

body {
	background:url('../img/bg/vintagemap.jpg') center no-repeat;
}

#map_wrapper, #blog_wrapper, #itinerary_wrapper {
	background:url('../img/frames/map_paper.png') top center no-repeat;
	width:610px;
	min-height:400px;
	margin:50px auto 0px;
	padding-bottom:10px;
	-webkit-border-radius:15px;
	-moz-border-radius:15px;
	border-radius:15px;
}

#inner_map {
	padding:10px 0px 0px;
}

#map_nav {
	margin:10px auto 30px;
}

#map_nav a {
	display:block;
	font-size:2.8em;
	padding:5px 0px;
}

#map_nav a:hover {
	-webkit-box-shadow:0px 0px 2px 2px rgba(0,0,0,0.4);
	-moz-box-shadow:0px 0px 2px 2px rgba(0,0,0,0.4);
	box-shadow:0px 0px 2px 2px rgba(0,0,0,0.4);
}

.backlink {
	font-family: "HVDBodedoMedium";
}

/******** BLOG *******/

#blog_wrapper h1, #itinerary_wrapper h1 {
	padding-top:10px;
	font-family: 'FontleroyBrownRegular';
	font-size:4.5em;
}

textarea {
	font-size:1.1em;
	width:500px;
	height:300px;
	margin:10px auto;
	padding:10px;
}

input[type="submit"] {
	font-family: 'CACChampagneRegular';
	font-size:2.6em;
	padding:0px 12px 0px 8px;
	margin:0px 0px 20px;
	-webkit-border-radius:30px;
	-moz-border-radius:30px;
	border-radius:30px;
	cursor:pointer;
}

/***** ITINERARY *****/

#itinerary_wrapper h1 {
	margin-bottom: 10px;
}

#itinerary_wrapper label {
	display: block;
	font-family: "Nevis";
	font-size: 2em;
	line-height: 1em;
}

#datepicker {
	margin: 5px 10px 10px;
	width: 300px;
	padding: 5px;
	background: rgba(255,255,255,0.3);
	vertical-align: top;
	text-align: center;
	font-family: "Nevis";
	font-size: 1.3em;
}

#ui-datepicker-div {
	width: 314px;
	font-family: "Nevis";
	font-size: 1em;
	background: #fff;
}

.ui-datepicker-header {
	position: relative;
	margin-bottom: 10px;
}

.ui-datepicker-prev, .ui-datepicker-next {
	font-size: 1.1em;
	cursor: pointer;
}

.ui-datepicker-prev:hover, .ui-datepicker-next:hover {
	color: blue;
}

.ui-datepicker-prev {
	position: absolute;
	left: 5px;
}

.ui-datepicker-next {
	position: absolute;
	right: 5px;
}

.ui-state-default:hover {
	color: blue;
}

select {
	background: rgba(255,255,255,0.3);
	padding: 0px;
	margin: 5px 0px 10px;
	vertical-align: top;
	font-family: "Nevis";
	font-size: 1.3em;
}

#details {
	height: 200px;
	margin: 5px 0 15px;
}

/***** MEDIA QUERIES *****/

@media screen and (max-width:780px){

	#map_wrapper, #blog_wrapper, #itinerary_wrapper {
		width:100%;
		margin:0px;
		-webkit-border-radius:0px;
		-moz-border-radius:0px;
		border-radius:0px;
	}
}

@media screen and (max-width:560px){
	textarea {
		width:85%;
	}
}

@media screen and (max-width:420px){

	body {
		background:#000000;
	}

	h1 {
		font-size:2.8em;
	}
	
	#blog_wrapper h1 {
		font-size:3.2em;
	}

	#itinerary_wrapper h1 {
		font-size: 3.5em;
	}

	#map_nav a {
		font-size:2.2em;
	}
}
